APP_NAME="AAB LeaseFlow"
APP_URL="https://leasing.aertsactionbike.cc"
APP_ENV=production
APP_DEBUG=false
APP_KEY=change-me-to-a-long-random-secret

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=aab_leaseflow
DB_USERNAME=aab_leaseflow
DB_PASSWORD=change-me

MAIL_FROM_ADDRESS=leasing@aertsactionbike.be
MAIL_FROM_NAME="Aerts Action Bike"

SIGN_LINK_HOURS=168
UPLOAD_MAX_MB=15
